<ul class="cars-list">
  {{#each cars}}
    <li class="cars-item">
      <img src="{{this.photo}}" alt="car-photo" />
      <h2 class="mark">{{this.mark}}</h2>
      <h2 class="model">{{this.model}}</h2>
      <div class="line"></div>
      <p class="price">{{this.price}}</p>
    </li>
  {{/each}}
</ul>